<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>block_large_filled.png</key>
		<dict>
			<key>frame</key>
			<string>{{1154,0},{640,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,300}}</string>
			<key>sourceSize</key>
			<string>{640,300}</string>
		</dict>
		<key>block_large_outlined.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,0},{640,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,300}}</string>
			<key>sourceSize</key>
			<string>{640,300}</string>
		</dict>
		<key>block_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,400},{640,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,32}}</string>
			<key>sourceSize</key>
			<string>{640,32}</string>
		</dict>
		<key>block_middle.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,433},{16,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{16,32}}</string>
			<key>sourceSize</key>
			<string>{16,32}</string>
		</dict>
		<key>block_moving_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,367},{640,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,32}}</string>
			<key>sourceSize</key>
			<string>{640,32}</string>
		</dict>
		<key>block_moving_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,334},{640,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,32}}</string>
			<key>sourceSize</key>
			<string>{640,32}</string>
		</dict>
		<key>block_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,301},{640,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{640,32}}</string>
			<key>sourceSize</key>
			<string>{640,32}</string>
		</dict>
		<key>circle_score.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{512,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{512,512}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>face.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,513},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>face_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,770},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>face_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,1027},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>face_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,1541},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>face_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,1284},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>face_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,513},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>face_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1027},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>face_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,770},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>face_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1284},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>face_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1541},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>face_dead_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1154,301},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>particles_bg_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,433},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>particles_bg_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,433},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>plane.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,433},{46,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{{46,55}}</string>
			<key>sourceSize</key>
			<string>{46,55}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>main.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>main.png</string>
	</dict>
</dict>
</plist>
